<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 定义字符编码属性，默认UTF-8 -->
    <Properties>
        <Property name="logEncoding">${sys:log.encoding:-UTF-8}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n" charset="${logEncoding}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.deepoove.poi" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>1
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>