<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="sqlLite">
        <environment id="sqlLite">
            <transactionManager type="com.xant.component.jdbc.SpringManagedTransactionFactory"/>
            <dataSource type="com.xant.component.jdbc.HikariCPDataSourceFactory"/>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="com/xant/dao/mapper/YearBillMapper.xml"/>
    </mappers>
</configuration>