<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xant.dao.YearBillMapper">

    <resultMap id="BaseResultMap" type="com.xant.entity.YearBillPO">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="year" column="year" jdbcType="INTEGER"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="recAmount" column="rec_amount" jdbcType="REAL"/>
        <result property="balance" column="balance" jdbcType="REAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,year,company,rec_amount,balance
    </sql>

</mapper>